# Node Specific gitignore
/node_modules
/npm-debug.log

# Server Keys
/ca

# ENVIRONMENT variables
/.env

# Database models
/rethinkdb_data

# vscode
/.vscode

# misc
/selenium-debug.log

# nightwatch
/reports

# Code Coverage
/.nyc_output
/coverage
